@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
    --background: #312828;
    --ring: #2f1a1c;
    --primary: #823b42;
    --secondary: #af5b55;
    --secondary-background: #ef836d;
    --highlight: #f2b582;
    --text: #f6f5ff;
    --text-disabled: #9f9dab;
}

.fill-background {
    fill: var(--background);
}

.fill-ring {
    fill: var(--ring);
}

.fill-primary {
    fill: var(--primary);
}

.fill-secondary {
    fill: var(--secondary);
}

.fill-secondary-background {
    fill: var(--secondary-background);
}

.fill-highlight {
    fill: var(--highlight);
}

.fill-text {
    fill: var(--text);
}

.fill-text-disabled {
    fill: var(--text-disabled);
}

.ToggleButton {
    /*padding: 10% 10%;*/
    font-size: 16px;
    cursor: pointer;
    background-color: var(--primary);
    border: 3px solid var(--secondary-background);
    border-radius: 1px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    opacity: 100%;
}

