[submodule "JUCE"]
	path = JUCE
	url = https://github.com/juce-framework/JUCE/
	branch = develop
[submodule "modules/melatonin_inspector"]
	path = modules/melatonin_inspector
	url = https://github.com/sudara/melatonin_inspector.git
	branch = main
[submodule "cmake"]
	path = cmake
	url = https://github.com/sudara/cmake-includes.git
	branch = main
[submodule "3dti_AudioToolkit"]
	path = 3dti_AudioToolkit
	url = git@github.com:3DTune-In/3dti_AudioToolkit.git
