[submodule "JUCE"]
	path = JUCE
	url = https://github.com/juce-framework/JUCE/
	branch = develop
[submodule "cmake"]
	path = cmake
	url = https://github.com/sudara/cmake-includes.git
	branch = main
[submodule "zones_convolver"]
	path = zones_convolver
	url = git@github.com:zones-convolution/zones_convolver.git
